<%- include('header') -%>

<div class="header">
  <p class="header__item"> <a  href="/">Atvinnuumsókn</a></p>
  <p class="header__item"> <a href="./login">Innskrá</a></p>
  <p class="header__item"> <a href="./register">Nýskrá</a></p>
</div>

<h1>Notendur</h1>

<div class="users">
  <% if (userList.length === 0) { %>
    <p>Engir notendur</p>
  <% } %>

  <div class="users__table">
    <div class="users__title">
      <p class="users__title__item">Stjórnandi?</p>
      <p class="users__title__item">Notendanafn</p>
      <p class="users__title__item">Nafn</p>
      <p class="users__title__item">Netfang</p>
    </div>
        
    <% userList.forEach((user) => { %>
      <div class="users__content">
        <p><%= user.username %></p>
        <p><%= user.name %></p>
        <p><%= user.email %></p>
      </div>
      <% }); %>
  </div>
</div>

<%- include('footer') -%>