<%- include('header') -%>

<div class="header">
  <p class="header__item"> <a  href="/">Atvinnuumsókn</a></p>
  <p class="header__item active"> <a href="./login">Innskrá</a></p>
  <p class="header__item"> <a href="./register">Nýskrá</a></p>
</div>

<h1>Innskráning</h1>

<form method="post" action="/">
  <div class="field<%= locals.isInvalid('name', errors) ?  ' field--invalid' : '' %>">
    <label for="name">Nafn</label>
    <input type="text" name="username" id="username" class="">
  </div>
  <div class="field<%= locals.isInvalid('email', errors) ?  ' field--invalid' : '' %>">
    <label for="password">Lykilorð</label>
    <input type="password" name="password" id="password" class="">
    <h3><%= msg %></h3>
  </div>

  <button>Innskrá</button>
</form>

<%- include('footer') -%>