<%- include('header') -%>

<h1>Innskráning</h1>

<form method="post" action="/">
  <div class="field<%= locals.isInvalid('name', errors) ?  ' field--invalid' : '' %>">
    <label for="name">Nafn</label>
    <input type="text" name="name" id="name" value="<%= name %>" class="">
  </div>
  <div class="field<%= locals.isInvalid('email', errors) ?  ' field--invalid' : '' %>">
    <label for="password">Lykilorð</label>
    <input type="password" name="password" id="password" value="<%= password %>" class="">
  </div>
  <button>Innskrá</button>
</form>

<%- include('footer') -%>